---
name: Create release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - "master"
  workflow_dispatch:

permissions: read-all

jobs:
  publish_image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v3

      - name: Custom variables
        id: customvars
        shell: bash
        run: |
          (
            echo -n "TAG="
            sed -Ene 's/^.*\bjinja2-cli==([0-9.]+).*$/v\1/p' < requirements.txt
          ) >> "$GITHUB_OUTPUT"

      - name: Create release
        id: create-release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # pin@v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ steps.customvars.outputs.TAG }}
          RELEASE_NOTES: "See jinja2-cli for release notes."

        with:
          token: "${{ env.GITHUB_TOKEN }}"
          name: "${{ env.VERSION }}"
          body: "${{ env.RELEASE_NOTES }}"
          tag_name: "${{ env.VERSION }}"
          draft: false
          prerelease: false
